/* rester */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* basic styling */
html, body {
    height: 100%;
    width: 100%;
    color: #fff !important;
}

/* preloader */
.preloader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#logo {
    padding-bottom: 3rem;
}

/* header */
header {
    height: 100vh;
    width: 100%;
    border-left: none;
}

#top-bar {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 1rem;
    font-weight: bold;
    font-size: 1.8rem;
}

.logo a:link, .logo a:hover, .logo a:focus, .logo a:visited {
    text-decoration: none;
    color: #fff;
}

.text-container {
    width: 40%;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80%;
}

#front {
    font-size: 5rem;
    font-weight: bold;
}

@media screen and (max-width: 1188px) {
    .text-container {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* bootstrap menu */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
  
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px;}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/* media queries */
@media screen and (max-width: 768px) {
    html, body {
        font-size: 12px;
    }
}